* {
    margin: 0;
    padding: 0;
  }

  ul {
      background-color: rgb(92, 163, 187);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  li {
    list-style-type: none;
  }

 .social {
    margin: 20px;
    display: flex;
    justify-content: space-around;

    &__logo {
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    &__logo:hover {
        color: #00FF00;
    }
}
