<h2 class="title-hijo">¿Qué significa el Juego de tronos?</h2>
<p>
  Juego de tronos (en inglés, A Game of Thrones) es una novela de fantasía
  escrita por el autor estadounidense George R. R. Martin en 1996 y ganadora del
  premio Locus a la mejor novela de fantasía en 1997. Se trata de la primera
  entrega de la serie de gran popularidad Canción de hielo y fuego. La novela se
  caracteriza por su estética medieval,1​ la descripción de numerosos personajes
  bien detallados, la contraposición de puntos de vista de los múltiples
  protagonistas, su trama con giros inesperados y un uso sutil y moderado de los
  aspectos mágicos tan comunes en otras obras de fantasía heroica.
</p>
<p>
  Quince años antes de la novela, los Siete Reinos estaban separados por una
  guerra civil, conocida alternativamente como la Rebelión de Robert o la Guerra
  del Usurpador. El Príncipe Rhaegar Targaryen secuestró a Lyanna Stark,
  despertando la ira de su familia y de su prometido, Robert Baratheon (el
  cabecilla de la rebelión contra el rey). El Rey Loco, Aerys Targaryen, ejecutó
  al padre de Lyanna y a su hermano mayor Brandon cuando intentaron rescatarla.
  El segundo hermano de Lyanna, Eddard Stark, se unió a sus amigos de la
  juventud, Robert Baratheon y Jon Arryn en la declaración de guerra contra los
  Targaryen, asegurando la lealtad de la casa Tully y la casa Arryn a través de
  una cadena de matrimonios dinásticos (lord Eddard con Catelyn Tully, antigua
  prometida de su hermano Brandon, y lord Arryn con Lysa Tully). La casa Martell
  continuó apoyando al Rey, pero la Casa Lannister y la Casa Tyrell pusieron
  respectivas excusas por los insultos contra sus casas hechos por el rey. La
  guerra civil llegó a su clímax con la Batalla del Tridente, en la cual el
  Príncipe Rhaegar fue asesinado por Robert Baratheon. Los Lannister finalmente
  acordaron apoyar al Rey Aerys, pero luego estos se volvieron brutalmente en su
  contra, saqueando la capital Desembarco del Rey. Jaime Lannister de la Guardia
  Real, asesinó al Rey Aerys y la Casa Lannister juró lealtad a Robert
  Baratheon. Los Martell y el resto de los fieles al rey Aerys se rindieron y
  Robert fue declarado Rey de los Siete Reinos. Desafortunadamente, durante la
  guerra, Lyanna Stark murió, aparentemente de enfermedad; Robert Baratheon, en
  su lugar, se casó con Cersei Lannister para consolidar la alianza. A pesar de
  la victoria de Robert, el hijo y la hija más jóvenes del Rey Loco (Viserys y
  Daenerys Targaryen) fueron llevados a través del mar por criados fieles.
  Después de la guerra la Casa Martell eligió el camino del aislamiento, desde
  que la hermana de la princesa de Dorne, Elia Martell (la esposa del príncipe
  Rhaegar) y sus hijos pequeños fueran asesinados por Gregor la Montaña Clegane
  durante el asalto a la capital. Seis años después, el rey Robert atajó con
  determinación la rebelión de Balon Greyjoy de las Islas del Hierro. Los dos
  hijos mayores de Balon fueron asesinados, mientras que su hijo más joven,
  Theon Greyjoy, fue dado a Eddard Stark como un pupilo (versión políticamente
  correcta de "rehén").
</p>
