<p>Personajes Juego de tronos: </p>
<button (click)="onModify()">{{ canModify ? 'Stop' : 'Modify' }}</button>
<input [(ngModel)]="filterValue">
<!-- <input type="number" [(ngModel)]="page" [max]="maxPage"> -->
<input type="number" [(ngModel)]="page">
<div 
    *ngIf="heros"
    class="hero-list">

    <app-hero
        class="hero"
        *ngFor="let hero of (heros | filter:filterValue | pagination:page)"
        [hero]="hero"
        [canDelete]="canModify"
        (delete)="onDelete(hero.id)"
    ></app-hero>
</div>
<app-filter></app-filter>
<!-- <input [(ngModel)]="message")]>
<button (click)="sendMessage()">Enviar</button> -->
