// @import '/angularproyecto/angular/src/styles/0-base/base'

.hero-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 24px;
    justify-content: center;
}


