<div 
    class="hero"
    *ngIf="hero"
    (click)="onClick()"
    [ngClass]="{
        'hero--active': isSelected
    }"
>
    <img class="hero__img" [src]="hero.imageUrl">
    <div class="hero__info">
        <p class="hero__name">{{ hero.fullName | uppercase}}</p>
        <p class="hero__hero">{{ hero.family }}</p>
        <button 
            class="hero__delete"
            *ngIf="canDelete"
            (click)="onDelete()"
        >Eliminar</button>
        <a class="hero__mas" [routerLink]="['/detail', hero.id]">Ver más</a>
        <a class="hero__anchor" [routerLink]="['/edit-hero', hero.id]">Editar</a>
        
    </div>
</div>
