.hero {
    margin-right: 24px;
    border: 1px solid lightgrey;
    box-shadow: 3px 3px 5px 3px lightgrey;
    margin-bottom: 24px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

    &__name, &__material {
        margin-bottom: 8px;
    }

    &__info {
        padding: 8px;
    }

    &__image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-bottom: 2px solid black;
    }

    &__delete {
        background-color: rgb(214, 173, 173);
        margin-right: 10px;
    }

    &__mas {
        text-decoration: none;
    }

    &__mas:hover {
        color: red;
    }

    &__anchor {
        color: black;
        text-decoration: none;
        margin-left: 10px;
        background-color: rgb(214, 173, 173);
        box-shadow: 20px;
        border-color: black;
        border-radius: 4px;
        border-width: 10px;
    }

    &__anchor:hover {
        color: red;
    }

    &--active {
        cursor: pointer;
        filter: grayscale(100%);
        transform: rotate(2deg);
        transition-duration: 1s;
    }
}