<p>Personajes</p>
<div *ngIf="(currentHero$ | async) as currentHero">
    <img class="img" [src]="currentHero.imageUrl">
    <p>{{ currentHero.fullName }}</p>
    <p>{{ currentHero.firstName }}</p>
    <p>{{ currentHero.lastName }}</p>
    <p>{{ currentHero.title }}</p>
    <p>{{ currentHero.family }}</p>
</div>
<app-filter></app-filter>

