<nav>
  <div class="navbar">
    <a
      [routerLink]="['']"
      [ngClass]="{
        'link--active': selectedRoute === ''
      }"
      >Home</a
    >
    <a
      [routerLink]="['/hero-list']"
      [ngClass]="{
        'link--active': selectedRoute === 'hero-list'
      }"
      >Characters</a
    >
    <a
      [routerLink]="['/create-hero']"
      [ngClass]="{
        'link--active': selectedRoute === 'create-hero'
      }"
      >Creation</a
    >
    <a 
    [ngStyle]="{ 'margin-right': '30px'}"
    [routerLink]="['/about']"
    [ngClass]="{
      'link--active': selectedRoute === 'about'
    }"
    >About</a>
  </div>
</nav>
