* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.logo {
  width: 55px;
  height: 55px;
}

.navigator {
  align-content: center;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgb(202, 173, 92);
}

.title {
  font-size: 50px;
  margin-left: 20px;
}

.link--active {
  font-weight: bold;
}

.header {
  color: chocolate;
  align-content: center;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: rgb(78, 60, 9);
  font-size: 30px;
  }

