<header>
  <nav>
    <div class="navigator">
        <img class="logo" src="https://dbdzm869oupei.cloudfront.net/img/sticker/preview/2187.png" alt="Game of Thrones Icon" />
        <h1 class="title">Game Of Thrones</h1>
    </div>
  </nav>

  <div class="header">
    <a 
        [ngStyle]="{ 'margin-right': '30px'}"
        [routerLink]="['']"
        [ngClass]="{
          'link--active': selectedRoute === ''
        }"
        >Home</a>
    <a 
      [ngStyle]="{ 'margin-right': '30px'}"
      [routerLink]="['/hero-list']"
      [ngClass]="{
        'link--active': selectedRoute === 'hero-list'
      }"
      >Characters</a>
      <a 
      [ngStyle]="{ 'margin-right': '30px'}"
      [routerLink]="['/create-hero']"
      [ngClass]="{
        'link--active': selectedRoute === 'create-hero'
      }"
      >Creation</a>
      <a 
      [ngStyle]="{ 'margin-right': '30px'}"
      [routerLink]="['/about']"
      [ngClass]="{
        'link--active': selectedRoute === 'about'
      }"
      >About</a>
</div>
</header>
