.form {
    margin-top: 40px;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
    &__input {
        padding: 4px;
        height: 24px;
        border: 1px solid grey;
        border-radius: 5px;
        width: 100%;
    }

    &__select {
        height: 32px;
        width: 100%;
    }

    &__button {
        display: block;
        padding: 8px 12px;
        width: 160px;
        border-radius: 25px;
        border: none;
        color: white;
        background-color: rgb(46, 45, 45);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        cursor:pointer;

        &:hover:not(:disabled) {
            opacity: 0.7;
        }

        &:disabled {
            background-color: grey;
            cursor: no-drop;
        }
    }
}

.field-container {
    display: block;
    flex: 45%;
    margin-bottom: 32px;
    margin-right: 30px;
}

.input-error {
    color: rgb(185, 62, 62);
    font-weight: bold;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.products {
    display: flex;
    flex-wrap: wrap;
}