<form 
    *ngIf="heroForm"
    [formGroup]="heroForm"
    (submit)="saveHero()"
    class="form"
>
    <div class="field-container">
        <input class="form__input" placeholder="fullName" formControlName="fullName">
        <p
            class="error"
            *ngIf="!heroForm.get('fullName')?.valid && heroForm.get('fullName')?.dirty"
        >
            Valor requerido
        </p>
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="firstName" formControlName="firstName">
        <p
            class="error"
            *ngIf="!heroForm.get('firstName')?.valid && heroForm.get('firstName')?.dirty"
        >
            Valor requerido
        </p>
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="lastName" formControlName="lastName">
        <p
            class="error"
            *ngIf="!heroForm.get('lastName')?.valid && heroForm.get('lastName')?.dirty"
        >
            Valor requerido
        </p>
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="title" formControlName="title">
        <p
            class="error"
            *ngIf="!heroForm.get('title')?.valid && heroForm.get('title')?.dirty"
        >
            Valor requerido
        </p>
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="family" formControlName="family">
        <p
            class="error"
            *ngIf="!heroForm.get('family')?.valid && heroForm.get('family')?.dirty"
        >
            Valor requerido
        </p>
    </div>
    <div class="field-container">
        <input class="form__input" placeholder="imageUrl" formControlName="imageUrl">
    </div>
    <div class="field-container">
        <textarea class="form__input form__textarea" formControlName="description"></textarea>
    </div>
    <button
        class="form__button"
        type="submit"
        [disabled]="!heroForm.valid"
    >{{ hero ? 'Edit' : 'Create' }}</button>

</form>
